<h2>Client Page</h2>
<div>Search for client: <input type="text" ng-model="myfilter"></div>
<table class="striped responsive-table">
    <tr>
        <th ng-click="newOrder('name')">Name</th>
        <th ng-click="newOrder('phone')">Phone #</th>
        <th ng-click="newOrder('email')">Email</th>
        <th ng-click="newOrder('location')">Location</th>
    </tr>
    <tr ng-repeat = 'items in apiData.data | orderBy:order | filter:myfilter'>
        <td>{{items.name}}</td>
        <td>{{items.phone}}</td>
        <td>{{items.email}}</td>
        <td>{{items.location.location}}</td>

        <td> <a class='waves-effect waves-light btn' ui-sref='clientDelete({id:items._id})'>Delete</a></td>
        <td><a class='waves-effect waves-light btn' ui-sref= 'editClient({id:items._id})'>Edit</></td>
    </tr>
</table>

<div ng-show="editing">
    <input type="text" ng-model="newItem">
    <button ng-click="postEdit()">Confirm Edit</button>
</div>

</div>