<h2>Edit Property</h2>
<div>
    <label>Type of Property</label>
    <input id = 'type' type="text" ng-model="newType">
</div>
<div>
    <label>Location</label>
    <input id = 'location' type="text" ng-model="newLocation">
</div>
<div>
    <label>Price per Month</label>
    <input id = 'price' type="text" ng-model="newPrice">
</div>
<div>
    <label>Bedrooms</label>
    <input id = 'bedroom' type="text" ng-model="newBedroom">
</div>
<div>
    <label>Bathrooms</label>
    <input id = 'bathroom' type="text" ng-model="newBathroom">
</div>

<button ng-click="postEdit()">Add Property</button>